<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Categories</h2>
<a href="/admin/categories/add-category" class="btn btn-primary">Add a new category</a>
<br><br>

<table class="table table-striped">
  <thead>
    <tr class="home">
      <th>Title</th>
      <th>Edit</th>
      <th>Delte</th>
    </tr>
  </thead>
  <tbody>
    <% categories.forEach(function(category) {%>
      
      <tr id="_id<%= category._id %>" class="<%= category.slug %>">
        <td><%= category.title %></td>
        <td><a href="/admin/categories/edit-category/<%= category.slug %>">Edit</a></td>
        <td><a class="deleteConfirmed" href="/admin/categories/delete-category/<%= category.slug %>">Delete</a></td>
      
        
      </tr>
      
    <% }); %>
  </tbody>
</table>

<script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
  $('tbody').sortable({
    items: "tr:not('.home')",
    placeholder: "ui-state-highlight",
    update: function() {
      var ids = $('tbody').sortable("serialize");
      var url = "/admin/pages/reorder-page";

      $.post(url, ids);
    }
  });
</script>

<%- include('../_layouts/adminfooter') %>

